* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Scroll suave*/
html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: #0054A0;
    text-align: center;
}

p { 
    font-size: 1rem;
    text-align: center;
}

img {
    max-width: 100%;
}

section, footer {
    padding: 10px 0;
}

/* HEADER*/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0054A0;
    padding: 10px;
}
@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }
}
.logo img {
    width: 20rem;
    background-color: white;
    padding: 10px;
}
.navegacion-principal ul {
    display: flex;
}
.navegacion-principal a {
    padding: 10px;
    font-size: 1rem;
    color: white;
}

/*MAIN*/


/*SECCIÓN VEHICULOS*/


/*SECCIÓN PERSONAS*/



/*SECCIÓN HOGARES*/



/*SECCIÓN AGRICOLAS*/

/*SUCURSALES*/

.seguros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.seguros img {
    width: 50px;
}
.parrafo-desarrollo {
    padding-top: 10px;
}

.imagenes-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .imagenes-fotos {
        flex-direction: row;
        
    }
}




/*SECCIÓN CONTACTOS*/
.contacto {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

@media (min-width: 768px) {
    .contacto {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contactanos img {
    width: 450px;   
}
.row-icono {
    display: flex;
    justify-content: start;
    align-items: center;
}
.row-icono img {
    width: 80px;
    padding: 10px;
}


/*FOOTER*/

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .tag {
        flex-direction: row;
        justify-content: space-between;
    }
}

.pie {
    background-color: #0054A0;
    color: white;
}

.parrafo-fin {
    background-color: #1f4f7b;
    color: white;
    padding-bottom: 10px;
}

.footer-logo {
    width: 40px;
}
