* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;  
}

p {
    font-family: 'Roboto Slab', serif;
}

/* HEADER*/
.contenedor {
    width: 1200px;
    margin: 0 auto;
}

/*SECCIÓN VEHICULOS*/



/*SECCIÓN PERSONAS*/



/*SECCIÓN HOGARES*/



/*SECCIÓN AGRICOLAS*/



/*SECCIÓN CONTACTOS*/



/*FOOTER*/