* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Scroll suave*/


html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: #0054A0;
    font-size: 1.5rem; 
    text-align: center;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    text-align: center;
}

img {
    width: 100%;
}
section, footer {
    padding: 10px 0;
}

/* HEADER*/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #0054A0;
}
.logo img {
    max-width: 20rem;
    background-color: white;
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .row{
        flex-direction: row;
        padding-right: 10px;
    }
}
.navegacion-principal ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 10px;
}

@media (min-width: 768px) {
    .navegacion-principal ul {
        flex-direction: row;
    }
}

.navegacion-principal a {
    color: white;
    padding: 10px;
}

.navegacion-principal a:hover {
    color: #4BC9E8;
}
 
/*MAIN*/

/*SECCIÓN VEHICULOS*/



/*SECCIÓN PERSONAS*/



/*SECCIÓN HOGARES*/



/*SECCIÓN AGRICOLAS*/

/*SUCURSALES*/

.seguros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.seguros img {
    width: 50px;
}

.parrafo-desarrollo {
    padding-top: 10px;
}

@media (min-width: 768px) {
    .imagenes-fotos {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}

/*SECCIÓN CONTACTOS*/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
@media (min-width: 768px) {
    .contacto {
        flex-direction: row;
        justify-content: flex-start;
    }
}
.general {
    padding: 5px 0;
    background-color: #0054A0;
    border-radius: 20px;
}
.general h2 {
    color: white;
    margin: 20px;
}
.contactanos img {
    width: 450px;   
}
.desarrollo-general img {
    width: 60px;
}
.row-icono {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

/*FOOTER*/

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .tag {
        flex-direction: row;
        justify-content: space-between;
    }
}

.pie {
    background-color: #0054A0;
    color: white;
}

.parrafo-fin {
    background-color: #1f4f7b;
    color: white;
    padding-bottom: 10px;
}

.footer-logo {
    width: 40px;
}
